@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    margin:0;
}

:root{
    --bg-color:rgb(22,32,42);
    --other-color:rgb(230,0,74);
}

.container{
    display:flex;
    width:100vw;
    height:100vh;
}

.image .night{
    display:block;
    width:50vh;
    height:100vh;
}

.Odin{
    display:flex;
    align-items:center;
    position:absolute;
    height: 300px;
    width: 50vh;
    top:25%;
    font-size:50px;
    background-color:rgba(0, 0, 0, 0.5);
    color:whitesmoke;
}

.Odin img{
    height:300px;
}

.intro{
    height: 200px;
    width:100vw;
    background-color:var(--bg-color);
    color:white;
    font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 25px;
    overflow:hidden;
    padding:50px;
}

.signup{
    margin-top:50px;
}

.form{
    display:flex;
    background-color:rgb(17,23,30);
}

.form input{
    border-radius:5px;
    padding:5px;
    width:300px;
    background-color:var(--bg-color);
    border:2px solid  rgb(182, 182, 182);
    color:rgb(209, 209, 209);
    font-size:14px;
    font-family:'PT Sans Narrow','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit{
    background-color:var(--bg-color);
    height:100vh;
    padding:50px;
}

.names{
    display:flex;
    justify-content:space-evenly;
    width:100vh;
    color:whitesmoke;
    margin-top:20px;
}

.contactinfo{
    display:flex;
    justify-content:space-evenly;
    color:whitesmoke;
    margin-top:20px;
}

.passwords{
    display:flex;
    justify-content:space-evenly;
    color:whitesmoke;
    margin-top:20px;
    margin-bottom:20px;
}

.submit button{
    padding:20px;
    border-radius:20px;
    background-color:var(--bg-color);
    color:var(--other-color);
    border:5px solid var(--other-color);
    box-shadow:5px 5px rgb(204, 6, 69);
    text-shadow: 1px 2px rgb(247, 145, 162);
    font-size:26px;
}

.login{
    margin-top:50px;
}

.login a,
.login p{
    font-size:25px;
    font-family:'PT Sans Narrow','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login p{
    color:whitesmoke
}

.login a{
    color: rgb(230,0,74);
}

.login a :visited{
    color: rgb(230,0,74);
}